
    div {
      padding-top: 20px;
      background-color: lightblue;
      text-align: left;
    }

    .first-background {
      padding-top: 20px;
      background-color: lightcoral;
      text-align: left;
    }

    span {
      padding-left: 60px;
      background-color: lightslategray;
      border: 3px solid red;
    }

    #second-border {
      padding-left: 60px;
      background-color: lightslategray;
      border: 3px solid green;
    }
