.header {
    background-color: black;
    padding: 15px;
    text-align: center;
    font-size: 35px;
    color: white;
}

.menu {
    background-color: lightgray;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.menu a{
    background-color: black;
    padding: 10px 30px;
    color: white;
    margin: 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.container {
    padding: 20px;
    background-color: blue;
    margin: 10px auto;
    max-width: 900px;
    border-radius: 5px;
}

hr {
    border: 1px solid black;
    margin: 20px 0;
}

.container h2 {
    color: blue;
}

.section {
    background-color: lightgray;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 18px;
    color: auto;
}

.section a {
    background-color: yellow;
    display: inline-block;
    margin: 10px 0;
    color: darkblue;
    text-decoration: none;
    border-style: double;
    font: 20px Arial, sans-serif;
    border-radius: 8px;
}

.footer {
    background-color: peachpuff;
    padding: 10px;
    text-align: center;
    color: black;
    margin-top: 20px;
}